<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.File_Upload.mapper.FileMapper">

<insert id="insertFileMetadata">
    INSERT INTO file_metadata_1 (
        original_file_name, saved_file_name, file_path, file_size, upload_date
    ) VALUES (
        #{originalFileName}, #{savedFileName}, #{filePath}, #{fileSize}, #{uploadDate}
    )
</insert>

<select id="getAllFiles" resultType="com.example.File_Upload.dto.FileMetadataDTO">
    SELECT * FROM file_metadata_1
</select>

<select id="getFileById" resultType="com.example.File_Upload.dto.FileMetadataDTO">
        SELECT * FROM file_metadata_1 WHERE id = #{id}
    </select>
    
</mapper>