<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API 지도 활용하기</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ef0e9836fbcaa13dbadf987f9c930114"></script>
    <style>
        #map {
            width: 750px;
            height: 500px;
        }
    </style>
</head>
<body>
    <h1>카카오 지도</h1>
    <div id="map"></div>
    <script src="app.js"></script>
</body>
</html>

