<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API 웹 데이터 활용하기</title>
    <style>
        pre {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            overflow-x: auto;
            font-family: monospace;
            width: 80%;
        }
    </style>
</head>
<body>
    <h1>네이버 검색</h1>
    <pre th:text="${response}"></pre>
</body>
</html>

